<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if IE]>           <html class="no-js ie-shit"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" prefix="og: http://ogp.me/ns#"> <!--<![endif]-->
<head>

  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimal-ui" />

  <script src="http://www.google.com/jsapi"></script>
  <script>google.load("jquery", "1");</script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
  <script type="text/javascript" src="//use.typekit.net/ksq4uyr.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="style.css">

  <title>Uppskattat - Estimate calculator</title>
  <meta charset="UTF-8">
</head>
<body ng-app="uppskattat" ng-controller="EstimateController">
  <div class="site">
    <nav class="nav-wrap print-mode">
      <ul class="nav">
        <li><a ng-click="" href class="nav-btn nav-btn--refresh" title="Clear localstorage">Clear localstorage</a></li>
        <li><a ng-click="printInfo()" href class="nav-btn nav-btn--print" title="Print estimate">Print estimate</a></li>
        <li><a ng-click="scrollTop()" href class="nav-btn nav-btn--totop" title="Scroll to top">Scroll to top</a></li>
      </ul>
    </nav>
    <header class="top-banner">
      <div class="flexbox">
        <div class="flexbox__item one-half">
          <h1 class="man">
            <a href="/" class="logo">Uppskattat - Estimate calculator</a>
          </h1>
        </div>
        <div class="flexbox__item one-half text-align--right">
          <a href="http://github.com/johnie/uppskattat" class="position--relative view-source">
            <i class="icon icon--absolute icon-github"></i>
            View the source
          </a>
        </div>
      </div>
    </header>

    <div class="print-mode print-mode__container">
      <label class="toggle-print">
        <input type="checkbox" class="toggle-print__checkbox" ng-click="printMode=!printMode">
        <span class="toggle-print__btn"></span>
      </label>
    </div>

    <div class="page">
      <header class="estimate-header pbm" role="banner">
        <div class="flexbox">
          <div class="flexbox__item four-tenths">
            <figure class="company-logo" ng-hide="logoRemoved">
              <label for="imgInp">
                <input type="file" id="imgInp" class="logo-input">
                <img id="company_logo" ng-model="logo" ng-src="{{ estimate.company_logo }}" alt="Company Logo">
              </label>
            </figure>
          </div>
          <div class="flexbox__item six-tenths">
            <h1 class="page-title"><input type="text" ng-model="estimate.estimate_title"></h1>
          </div>
        </div>
        <div class="no-print pts" ng-hide="printMode">
          <a ng-click="removeLogo()" ng-hide="printMode" id="remove_logo" class="mrs btn btn--red" href>Remove Logo</a>
        </div>
      </header>

      <section class="estimate-info">
        <div class="flexbox  border-top border-bottom  ptm pbm  mbm">
          <div class="flexbox__item  one-half">
            <hgroup class="costumer-info  text--left">
              <div class="costumer-name">
                <p><strong><input type="text" class="text-align--left one-whole" ng-model="estimate.customer_info.name" select-on-click></strong></p>
              </div>
              <div class="costumer-web">
                <p><input type="text" class="text-align--left one-whole" ng-model="estimate.customer_info.web_link" select-on-click></p>
              </div>
              <div class="costumer-street">
                <p><input type="text" class="text-align--left one-whole" ng-model="estimate.customer_info.address1" select-on-click></p>
              </div>
              <div class="costumer-city">
                <p><input type="text" class="text-align--left one-whole" ng-model="estimate.customer_info.address2" select-on-click></p>
              </div>
              <div class="costumer-zip">
                <p><input type="text" class="text-align--left one-whole" ng-model="estimate.customer_info.postal" select-on-click></p>
              </div>
            </hgroup>
          </div>
          <div class="flexbox__item  one-half">
            <hgroup class="company-info text--right">
              <div class="company-name">
                <p><strong><input type="text" class="text-align--right one-whole" ng-model="estimate.company_info.name" select-on-click></strong></p>
              </div>
              <div class="company-web">
                <p><input type="text" class="text-align--right one-whole" ng-model="estimate.company_info.web_link" select-on-click></p>
              </div>
              <div class="company-street">
                <p><input type="text" class="text-align--right one-whole" ng-model="estimate.company_info.address1" select-on-click></p>
              </div>
              <div class="company-city">
                <p><input type="text" class="text-align--right one-whole" ng-model="estimate.company_info.address2" select-on-click></p>
              </div>
              <div class="company-zip">
                <p><input type="text" class="text-align--right one-whole" ng-model="estimate.company_info.postal" select-on-click></p>
              </div>
            </hgroup>
          </div>
        </div>
      </section><!-- Estimate info -->

      <main class="main pts" role="main" ui-sortable="sortableOptions" ng-model="estimate.sections">
        <section class="estimate-section pbm mbm" ng-repeat="section in estimate.sections">
          <h2 class="section-title"><input type="text" ng-model="section.section_title" select-on-click></h2>
          <table class="estimate-table">
            <thead>
              <tr>
                <th class="one-small print-mode" ng-hide="printMode"></th> 
                <th class="one-medium text-align--center">#</th>
                <th class="one-half">Item</th>
                <th class="text--right one-tenth">Hrs Target</th>
                <th class="text--right one-tenth">Hrs Min.</th>
                <th class="text--right one-tenth">Hrs Max.</th>
                <th class="text--right one-tenth">Hour(s)</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="item in section.items">
                <td class="one-small print-mode" ng-hide="printMode"><a href ng-click="removeItem($parent.$index, item)" class="btn btn__delete btn--red">x</a></td>
                <td class="one-medium text-align--center">{{ $parent.$index + 1 }}.{{ $index + 1 }}</td>
                <td class="one-half">
                  <h3 class="item-title"><input type="text" ng:model="item.title" select-on-click></h3>
                  <p class="item-description"><textarea ng:model="item.description" select-on-click></textarea></p>
                </td>
                <td class="text-align--right one-tenth"><input type="text" class="item-target text-align--right" ng:model="item.target" size="4" placeholder="0" select-on-click></td>
                <td class="text-align--right one-tenth"><input type="text" class="item-min text-align--right" ng:model="item.min" size="4" placeholder="0" select-on-click></td>
                <td class="text-align--right one-tenth"><input type="text" class="item-max text-align--right" ng:model="item.max" size="4" placeholder="0" select-on-click></td>
                <td class="mean_total text-align--right font-weight--bold one-tenth">{{(item.target*1 + item.min*1 + item.max*1) / 3 | number:0 }}</td>
              </tr>
              <tr ng-hide="printMode" class="print-mode">
                <td colspan="7">
                <a class="btn" href ng-click="addItem($index)"><span class="prs">+</span> Add Item</a> 
                <a class="btn btn--red" href ng-click="removeSection()" style="float: right;"><span class="prs">✕</span> Remove Section</a>
                </td>
              </tr>
            </tbody>
          </table>
          </article>
        </section>
        <div ng-hide="printMode">
          <a href class="btn btn__full btn--green" ng-click="addSection()"><span class="prs">+</span> Add Section</a>
        </div>
      </main>
    </div>
  </div>
  <script src="js/autosize.min.js"></script>
  <script src="js/jquery-ui.min.js"></script>
  <script src="js/sortable.js"></script>
  <script src="js/filters/filters.js"></script>
  <script src="js/directives/mainDirectives.js"></script>
  <script src="js/services/mainServices.js"></script>
  <script src="js/app.js"></script>
</body>
</html>
