/*------------------------------------* 
   $DEFAULTS 
*------------------------------------*/
/** 
 * Unique style, colors and misc variables 
 */

$brand-color = #37445A
$brand-color--lighten = lighten($brand-color, 10%)
$brand-color--darken = darken($brand-color, 10%)

$brand-round = 4px

$link-color = #3C93E2

$base-font-size = 1em
$base-line-height = 1.5
$base-font-family = "proxima-nova", "Source Sans Pro", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, arial, sans-serif;
$base-color = #1D2327

// Action colors
$delete-color = #C02932
$delete-color--darken = darken($delete-color, 10%)
$add-color = #6BA949
$add-color--darken = darken($add-color, 10%)

// Global border box
$global-border-box = true

// Base spacing unit
$base-spacing-unit = 15px
