/*------------------------------------* 
     $FORMS 
*------------------------------------*/
/** 
 * Styles for form elements e.g. input fields 
 */

input[type="text"], input[type="date"], textarea
  border 1px dashed transparent
  background-color transparent

  &:hover
    border 1px dashed #ccc

  &:focus
    border-color $brand-color
    outline none
