/*------------------------------------* 
   $PRINT 
*------------------------------------*/
/** 
 * Specific styles for print mode 
 */

@media print
  body 
    background-color #fff
    border none

  .page
    border none
    padding 0
    -webkit-box-shadow none
    -moz-box-shadow none
    box-shadow none

  .no-print
    display none
    visibility hidden
