/*------------------------------------* 
   $SPACINGS 
*------------------------------------*/

/** 
 * Paddings 
 */

// None
.pan
  padding 0px

// Small
.pts
  padding-top 5px
.pls
  padding-left 5px
.prs
  padding-right 5px
.pbs
  padding-bottom 5px

// Medium
.ptm
  padding-top 20px
.plm
  padding-left 20px
.prm
  padding-right 20px
.pbm
  padding-bottom 20px

// Large
.ptl
  padding-top 40px
.pll
  padding-left 40px
.prl
  padding-right 40px
.pbl
  padding-bottom 40px



/** 
 * Margins 
 */

// None
.man
  margin 0px

// Small
.mts
  margin-top 5px
.mls
  margin-left 5px
.mrs
  margin-right 5px
.mbs
  margin-bottom 5px

// Medium
.mtm
  margin-top 20px
.mlm
  margin-left 20px
.mrm
  margin-right 20px
.mbm
  margin-bottom 20px

// Large
.mtl
  margin-top 40px
.mll
  margin-left 40px
.mrl
  margin-right 40px
.mbl
  margin-bottom 40px
