/*------------------------------------* 
   $TABLES 
*------------------------------------*/

.section-title
  font-weight 600
  font-size 1.5em

  input
    width 100%

.estimate-table
  width 100%
  text-align left
  background-color #fff

  thead
    background-color #eee
    border-bottom 1px solid darken(#eee, 10%)

    th
      font-weight 600
      padding 5px
      border 1px solid #ddd

  tbody tr
    &:nth-child(even)
      background-color #f9f9f9

  tbody td
    padding 5px
    border 1px solid #ddd

.estimate-table__description
  font-size 14px
